Ulaz : 
	Referentni genom, 
	prosecan kvalitet nukleotida,
	pokrivenost,
	duzina reada,
	insert size - velicina fragmenta,
	error rate - vrv pojave pogresnog nukleotida u svakom od readova i posebno za snipove (single nucleotid variation) = ErrorRateInsertion & ErrorRateDeletion

Izlaz :
	2 FASTQ filea,
	SAM file sa aligneovanim raedovima iz fajlova sa pozicijama iz referentnog genoma

Testiranje :
	Testirati kvalitet alajnmenta putem BWA-MEM i Bowtie alata, na ulazu FASTQ
	Na izlazu dobijamo SAM i radimo poredjenje na pozicije alajnmenta u nasem i njihovom SAM-u
	Rezultate prikazati na osnovu metrika (precision, recall, fscore, AUC)
	Za test koristiti 3 genoma po izboru (neke zivotinje ili biljke) iz NIH baze
	Napisati test slucaj za testiranje samog simulatora na pocetku (check)
	
Finally : 
	PPTX i video prezentaciju od 5 minuta trajanja na yt
	Razvoj na github (check)
